body {
    background-color: rgb(235, 235, 235);
}

h2 {
    padding-top: 10px;
    color: rgb(71, 75, 77);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading {
    text-align: center ;
    padding-top: 60px;
    padding-right: 10px;
    font-size: 14px;
}

.welcome {
    padding-top: 12px;
}

.nome {
    font-size: 24px;
}

button {
    margin-top: 30px;
    font-size: 20px;
    font-style:oblique;
}

img[alt*="oracle"],img[alt*="duke"] {
    display: inline-block;
    vertical-align: bottom;    
}
