body {
    background-color: black;
    text-decoration: blanchedalmond;
}

.nome {
    padding: 10%;
    font-size: 25px;
}

h3 {
    font-size: 30px;
    color: blanchedalmond;
    padding: 20%
}

h2 {
    font-size: 30px;
    color: rgb(134, 134, 134);
}

a {
    padding-left: 80px;
    color: blanchedalmond;
    text-decoration: blanchedalmond;
    font-size: 15px;
}